@font-face {
	font-family: 'League Mono Regular';
	font-style: normal;
	font-weight: normal;
	src: local('League Mono Regular'), url('LeagueMonoRegular.woff') format('woff');
}
@font-face {
	font-family: 'League Mono Thin';
	font-style: normal;
	font-weight: normal;
	src: local('League Mono Thin'), url('LeagueMonoThin.woff') format('woff');
	}
@font-face {
	font-family: 'League Mono UltraLight';
	font-style: normal;
	font-weight: normal;
	src: local('League Mono UltraLight'), url('LeagueMonoUltraLight.woff') format('woff');
}
@font-face {
	font-family: 'League Mono Light';
	font-style: normal;
	font-weight: normal;
	src: local('League Mono Light'), url('LeagueMonoLight.woff') format('woff');
}
@font-face {
	font-family: 'League Mono Medium';
	font-style: normal;
	font-weight: normal;
	src: local('League Mono Medium'), url('LeagueMonoMedium.woff') format('woff');
}
@font-face {
	font-family: 'League Mono SemiBold';
	font-style: normal;
	font-weight: normal;
	src: local('League Mono SemiBold'), url('LeagueMonoSemiBold.woff') format('woff');
}
@font-face {
	font-family: 'League Mono Bold';
	font-style: normal;
	font-weight: normal;
	src: local('League Mono Bold'), url('LeagueMonoBold.woff') format('woff');
}
@font-face {
	font-family: 'League Mono ExtraBold';
	font-style: normal;
	font-weight: normal;
	src: local('League Mono ExtraBold'), url('LeagueMonoExtraBold.woff') format('woff');
}

.mono, .content h1, .content h2, .content h3, .content h4 {
	font-family: League Mono Regular, monospace;
	/* font-feature-settings: "salt"; */
}
h3.mono, h4.mono {
	font-family: League Mono SemiBold, monospace;
}

.avatar {
	background-size: cover;
}
