<footer class="gray bg-black pa3 ph5-m ph7-l mono">
	<small class="f6 db tc">{{ LIGO_FOOTER_TEXT }} Design by <a href="https://github.com/bleakgrey/" class="f6 dib mid-gray dim ttu">Bleak Grey</a>.</small>
	<div class="tc mt3">
		{% for item, url in LIGO_FOOTER_LINKS %}
		<a href="{{ url }}" class="f6 dib ph2 mid-gray dim ttu">{{ item }}</a>
		{% endfor %}
	</div>
</footer>
