{% include 'partials/navigation.html' %}

{% set header_cover = "" %}

{% if article and article.header_cover %}
  {% set header_cover = article.header_cover %}
{%- endif %}
{% if page and page.header_cover %}
  {% set header_cover = page.header_cover %}
{%- endif %}

<div class="cover" style="background-color:black; background-image: url({{ header_cover }})">  

  <div class="cf pv5 pa3 ph5-m ph7-l bg-black-50
  		tc tl-l
  		flex items-center flex-column-reverse flex-row-l">
  
	  <div class="w-100 w-60-l">
	    {% if page and page.title %}
		  <h3 class="f2 f1-m f-headline-m measure-narrow lh-title mv0 mono">
			  <span class="white">{{ page.title }}</span>
		  </h3>
	    {% endif %}
	    {% if page and page.subtitle %}
		  <h4 class="f4 fw1 mb0 georgia">
			  <span class="white i">{{ page.subtitle }}</span>
		  </h4>
	    {% endif %}
	    {% if article %}
	    <h4 class="f6 tracked white-60 fw1 mb0">{{ article.locale_date }} · {{ article.author }}</h4>
	    {% endif %}
	  </div>

	  <div class="w-100 w-40-l tc ph4 pb4 pa0-l">
	  	{% if article and article.header_avatar %}
		<div class="avatar br-100 ba h4 w4 dib" style="background-image:url({{ article.header_avatar }})"></div>
		{% endif %}
	  </div>

  </div>

</div>
