<nav class="db dt-l w-100 border-box mono bg-black pa3 ph5-m ph7-l">
	<a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="{{ SITEURL }}">
	<img src="/images/abc.svg" class="dib w2 h2" />
	
	</a>
	<div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
		{% for item, url in LIGO_NAV_LINKS %}
		<a class="dim white link f6 f5-l dib mr3 mr4-l ttu" href="{{ url }}">{{ item }}</a>
		{% endfor %}
	</div>
</nav>


