<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <title>
    {% block title %}
    {% if page and page.title %}{{ page.title }} - {% endif %}
    {{ SITENAME }}
    {% endblock title %}
    </title>
    {# favicon #}
    <link rel="shortcut icon" type="image/png" href="{{ SITEURL }}/images/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="{{ SITEURL }}/images/favicon.ico">
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="applicatio n/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM.format(slug=tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS.format(slug=tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/tachyons.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/site.css" type="text/css" />
    <link rel="license" title="CC0 1.0 Universal" href-"https://creativecommons.org/publicdomain/zero/1.0/" />
    <link rel="alternate" type="application/rss+xml" title="Ogg Vorbis RSS" href="https://anarchobook.club/ogg.xml" />
    <meta name="generator" content="Pelican" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ SITEDESCRIPTION }}" />
    <meta name="author" content="{{ AUTHOR }}" />
    {% endblock head %}
</head>
<body>
  
	{% block header %}
    {% include "partials/header.html" %}
  {% endblock header %}	

	<section class="content center pa3 ph5-m ph7-l">
	  <div class="f5 /*measure-wide lh-copy*/">
		  {% block content %}
	    {% endblock content %}
	  </div>
	</section>

	{% include 'partials/footer.html' %}
</body>
</html>
