{% extends 'base.html' %}

{% block content %}

  {% for article in articles_page.object_list %}
    <article class="ba bl-0 bt-0 br-0 b--dotted b--black-30">
      <a class="db pv4 no-underline black dim" href="{{ SITEURL }}/{{ article.url }}">
        <div class="flex flex-column flex-row-ns">
          <!-- <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns"> -->
          <!--   <img src="{{ article.header_cover }}" class="db"> -->
          <!-- </div> -->
          <!-- <div class="w-100 w-60-ns pl3-ns"> -->
          <div class="w-100">
            <h1 class="f3 fw5 mono mt0 lh-title">{{ article.title }}</h1>
            <p class="f6 f5-l lh-copy">
              {{ article.summary }}
            </p>
            <div class="f6 lh-copy mv0 mid-gray">{{ article.locale_date }} · {{ article.author }}</div>
          </div>
        </div>
      </a>
    </article>
  {% endfor %}

  {% if articles_page.has_other_pages() %}
      {% include 'partials/pagination.html' %}
  {% endif %}
  
{% endblock content %}
